@import "../font";
@import "../variable";
@import "../mixin/mixin";

.wrapper-front {
  padding: 4% 10%;
}

.front-bg {
  position: absolute;
  background: url("../images/title-crane_2.png") no-repeat bottom center;
  width: 100%;
  height: 100%;
  bottom: 0;
  background-size: auto 90%;
  right: 0;
  left: 0;
}

header {
  font-family: $font-quicksand;
  width: 100%;
  text-align: center;
  margin-top: 40px;
  background: #f56c00;
  padding: 10px 0;

  h1 {
    text-transform: uppercase;
    color: #fff;
    font-size: 3em;
    font-weight: bold;
  }
}

.rules {
  padding-left: 0;
  margin-top: 20px;

  .rules__item {
    list-style: none;
    margin-bottom: 10px;
  }

  .rules__img {
    max-width: 50px;
    position: absolute;
  }

  .rules__description {
    position: relative;
    padding-left: 60px;
    font-family: $font-quicksand;
    font-weight: bold;
    font-size: 1.3em;
    margin: 10px 0;
  }
}

.description {
  font-family: $font-quicksand;
  font-weight: bold;

  .description__text {
    text-align: left;
    font-size: 1.9em;
    p {
      margin: 0;
    }
  }

  .description__team {
    text-align: center;
    text-transform: uppercase;
    font-size: 2.5em;
    color: #000;
    font-family: $font-bebasNeue;
    margin-bottom: 100px;
  }
}

.descripton__task {
  text-align: center;
  text-transform: uppercase;
  font-size: 2.7em;
  color: #144c5f;
}

.content {
  .content__buttons {
    display: inline-block;
    width: 100%;
    margin-top: 20px;
  }
}

.look-emotion {
  min-height: 100px;
  font-family: $font-bebasNeue;
  font-size: 4em;
  color: #5b6b75;
  background-color: #f0f1e2;
  @include border-radius (20px);
  max-width: 489px;
  text-align: center;
  margin: 40px auto;
  padding: 20px;

  &.look__show {
    background: #fff;
    border: 7px solid #CCCCCC;
  }
}

.draw {
  position: relative;

  > div {
    margin-bottom: 60px;
  };
}

.draw__option {
  width: 45%;
  max-width: 300px;
  margin-left: -15px;

  [data-type-emotion="eyebrows"] {
    .option__dropdown {
      background: $option-eyebrows;
    }

    background: $option-eyebrows;
  }

  [data-type-emotion="eyes"] {
    .option__dropdown {
      background: $option-eyes;
    }

    background: $option-eyes;
  }

  [data-type-emotion="mouth"] {
    .option__dropdown {
      background: $option-mouth;
    }

    background: $option-mouth;
  }

  [data-type-emotion="mood-shading"] {
    .option__dropdown {
      background: $option-eyebrows;
    }

    background: $option-eyebrows;
  }

  ul {
    padding-left: 0;
  }

  .option__dropdown {
    max-width: 200px;
    min-width: 150px;
    width: 100%;
    position: absolute;
    left: 100%;
    display: none;
    top: -20px;
    background: red;
    text-align: center;
    @include border-radius(20px);
    overflow: hidden;
    padding: 15px;


    ul {
      padding: 0 10px;
      min-height: 100px;
      overflow: auto;
      max-height: 315px;
    }

    li {
      width: 100%;
      min-height: 60px;
      background: #fff;
      @include border-radius(10px);
      margin-bottom: 20px;
      list-style: none;
      padding: 5px;

      img {
        max-width: 80%;
        padding: 12px 0;
      }
    }
  }

  .option__item {
    list-style: none;
    width: 100%;
    color: #fff;
    position: relative;
    text-align: right;
    margin-bottom: 20px;
    padding: 15px 25px;
    font-family: $font-quicksand;
    font-size: 1.1em;
    text-transform: uppercase;
    font-weight: bold;

    &.active {
      width: 105%;

      .option__dropdown {
        display: block;
      }
    }
  }

  .option__field {
    display: inline-block;
    text-align: center;
    width: 100%;
    max-width: 145px;
  }

  .option__img {
    max-width: 70px;
    margin: 5px auto;
  }
}

.draw__area {
  position: relative;

  @include border-radius (50px);
  width: 100%;
  max-width: 340px;
  height: 340px;
  border: dashed 5px #fbaa19;
  background: #fff;
  background-size: cover;
  padding: 25px;
  margin: 0 auto;

  .area__base {
    background: url("../images/base.png") no-repeat center;
    background-size: cover;
    width: 100%;
    height: 100%;
    padding: 54px;
    position: relative;
  }

  .base__element {
    width: 100%;
    height: 100%;
    position: absolute;
    left: 0;
  }

  .area__eyebrows {
    background-position: center 7%;
    background-size: 59%;
    background-repeat: no-repeat;

    &[data-type-emotion-select="type-emotion"] {
      background-image: url("../images/eyebrows/parts-39.png");
    }
  }

  .area__mood-shading {
    top: 0;
    background-position: center 10%;
    background-size: 88%;
    background-repeat: no-repeat;

    &[data-type-emotion-select="type-emotion"] {
      background-image: url("../images/mood/parts-29.png");
    }
  }

  .area__eyes {
    background-position: center 20%;
    background-size: 50%;
    background-repeat: no-repeat;

    &[data-type-emotion-select="type-emotion"] {
      background-image: url("../images/eyes/parts-52.png");
    }
  }

  .area__mouth {
    background-position: center 55%;
    background-size: 50%;
    background-repeat: no-repeat;

    &[data-type-emotion-select="type-emotion"] {
      background-image: url("../images/mouth/parts-02.png");
    }
  }

  .control-buttons {
    margin-top: 50px;
    display: inline-block;
    width: 100%;

    ul {
      padding: 0;
    }

    li {
      display: inline-block;
      list-style: none;
    }
  }
}

.game-play {
  display: inline-block;
  width: 100%;
  margin-bottom: 10px;
}

.tries-left {
  ul {
    padding: 0;
    list-style: none;
    text-align: center;
  }
  
  .tries-left__item {
    display: inline-block;
    vertical-align: top;
    font-family: $font-bebasNeue;
    text-transform: uppercase;

    p {
      font-size: 4em;
      font-weight: bold;
      margin: 0;
      line-height: normal;
    }

    &:not(:first-child) {
      background: url("../images/sprite-x.png") no-repeat;
      background-position: center 13%;
      background-size: cover;
      width: 42px;
      height: 42px;

      &.tries-left__subtract {
        background-position: 10% 84%;
      }
    }
  }
}

.guess-emotion {
  ul {
    list-style: none;
    padding: 0;
  }

  .emotion__item {
    display: inline-block;
    width: 100%;
    margin: 2% 4%;
    text-align: center;
    background: #F0F1E2;
    border: 5px solid #FFB808;
    padding: 1%;
    line-height: 1.2;
    font-size: 3em;
    font-weight: bold;
    font-family: "Quicksand", sans-serif;
    vertical-align: top;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    @include border-radius(50px);

    &.emotion__error {
      background: $emotion__error;
    }

    &.emotion__correct {
      background: $emotion__correct;
    }
  }
}

.draw-guess {
  .draw__area {
    margin: 0 auto;
    border: 0;
    max-width: 300px;
    height: 300px;
  }
}

.guess-message {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  overflow: auto;

  .message__line {
    position: fixed;
    width: 100%;
    text-align: center;
    top: calc(100% / 2 - 90px);
    padding: 3% 1% 1% 1%;
    font-size: 6em;
    line-height: normal;
    text-transform: uppercase;
    color: #fff;
    font-family: $font-bebasNeue;
    font-weight: bold;
  }

  p {
    margin: 0;
  }

  &.message__error {
    .message__line {
      background: $message-error;
      text-shadow: -5px -5px 0 #9F2D2A,
      -5px 0 0 #9F2D2A,
      5px -5px 0 #9F2D2A,
      -5px 5px 0 #9F2D2A,
      5px 5px 0 #9F2D2A;
    }
  }

  &.message__correct {
    .message__line {
      background: $message-correct;
      text-shadow: -5px -5px 0 #FBAA19,
      -5px 0 0 #FBAA19,
      5px -5px 0 #FBAA19,
      -5px 5px 0 #FBAA19,
      5px 5px 0 #FBAA19;
    }

    &:before {
      content: ' ';
      position: absolute;
      background: url("../images/confetti.png") no-repeat center;
      display: inline-block;
      height: 100%;
      width: 100%;
    }
  }
}
